@using gestionNavette.Models;
@{
    ViewBag.Title = "listSociete";
}


@if (ViewBag.listSocietes == null)
{
    <h3 class="alert alert-danger">vous n'avez aucune societes</h3>
}
else
{
    <div class="row justify-content-md-center" style=" margin-top:50px;">
        <div class="col col-lg-12" style=" margin-left: 0px; padding: 15px; padding-left: 0px; background-color: #fff; border-radius: 8px;">
            <h3 style="color:#000;">liste de societes</h3>
            <table class="table">
                <tr style=" color: #1A4881; font-weight: 700; margin-left: 8px; font-style: normal; font-size: 14px; line-height: 18px; letter-spacing: .1px;">
                    <td>id</td>
                    <td>nom Societe</td>
                    <td>adresse</td>
                    <td>nom du gerant</td>
                    <td>email</td>
                    <td>telephone</td>
                </tr>
                @foreach (societe item in ViewBag.listSocietes)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.nomS</td>
                        <td>@item.adresse</td>
                        <td>@item.client.prenom @item.client.nom</td>
                        <td>@item.client.email</td>
                        <td>@item.client.telephone</td>
                    </tr>
                }
            </table>
            </div>
        </div>
            }
