@model gestionNavette.Models.TrajetTransport
@{
    ViewBag.Title = "newTrajetTransport";
}

<div class="row justify-content-md-center" style=" margin-top:50px;">
    <div class="col col-lg-6" style=" margin-left: 200px; padding: 50px; padding-left: 60px;padding-top:35px; background-color: #fff; border-radius: 8px;">
        <h3 style="color:#000;">Nouveau Trajet</h3>
        @using (Html.BeginForm("CreateTrajetTransport", "Abonnement", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(s => s.trajet.villeD, new { @Class = "label label-primary" })
                @Html.TextBoxFor(s => s.trajet.villeD, new { @Value = TempData["vd"], @Class = "form-control" })
                @Html.ValidationMessageFor(s => s.trajet.villeD, "", new { @Class = "alert-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.trajet.villeA, new { @Class = "label label-primary" })
                @Html.TextBoxFor(s => s.trajet.villeA, new { @Value = TempData["va"], @Class = "form-control" })
                @Html.ValidationMessageFor(s => s.trajet.villeA, "", new { @Class = "alert-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.trajet.heureD, new { @Class = "label label-primary" })
                @Html.TextBoxFor(s => s.trajet.heureD, new { @Value = TempData["hd"], @Class = "form-control" })
                @Html.ValidationMessageFor(s => s.trajet.heureD, "", new { @Class = "alert-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.trajet.heureA, new { @Class = "label label-primary" })
                @Html.TextBoxFor(s => s.trajet.heureA, new { @Value = TempData["ha"], @Class = "form-control" })
                @Html.ValidationMessageFor(s => s.trajet.heureA, "", new { @Class = "alert-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.trajet.prix, new { @Class = "label label-primary" })
                @Html.TextBoxFor(s => s.trajet.prix, new { @Value = TempData["p"], @Class = "form-control" })
                @Html.ValidationMessageFor(s => s.trajet.prix, "", new { @Class = "alert-danger" })
            </div>

            ////////////transport//////////////

            <div class="transportForm" style=" ">
                <h3>Nouveau transport</h3>
                <div class="form-group">
                    @Html.LabelFor(s => s.transport.type, new { @Class = "label label-primary" })
                    <select name="transport.type">
                        <option value="bus">bus</option>
                        <option value="mini-bus">mini-bus</option>
                        <option value="voiture">voiture</option>

                    </select>
                    @Html.ValidationMessageFor(s => s.transport.type, "", new { @Class = "alert-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.transport.marque, new { @Class = "label label-primary" })
                    @Html.TextBoxFor(s => s.transport.marque, new { @Class = "form-control" })
                    @Html.ValidationMessageFor(s => s.transport.marque, "", new { @Class = "alert-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.transport.capacite, new { @Class = "label label-primary" })
                    @Html.TextBoxFor(s => s.transport.capacite, new { @Class = "form-control" })
                    @Html.ValidationMessageFor(s => s.transport.capacite, "", new { @Class = "alert-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.transport.nbrPortes, new { @Class = "label label-primary" })
                    @Html.TextBoxFor(s => s.transport.nbrPortes, new { @Class = "form-control" })
                    @Html.ValidationMessageFor(s => s.transport.nbrPortes, "", new { @Class = "alert-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.transport.couleur, new { @Class = "label label-primary" })
                    @Html.TextBoxFor(s => s.transport.couleur, new { @Class = "form-control" })
                    @Html.ValidationMessageFor(s => s.transport.couleur, "", new { @Class = "alert-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.transport.clim, new { @Class = "label label-primary" })
                    oui<input type="radio" name="transport.clim" value="true" />
                    non<input type="radio" name="transport.clim" value="false" />
                    @Html.ValidationMessageFor(s => s.transport.clim, "", new { @Class = "alert-danger" })
                </div>

            </div>



            <input class="btn btn-primary" type="submit" name="name" value="Ajouter" />
        }
</div>  
</div>